/* Styles for the banner */
.banner {
    background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('../../Images/terroirs.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    padding: 50px 0;
}

.banner h1 {
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 150px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 150px;
    color: white;
}

.btn-apply {
    background-color: #1e90ff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-apply:hover {
    background-color: #005cbf;